body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

fieldset {
	border: 1px solid black;
	padding: 5px;
}

label {
	width: 5em;
	float: left;
}

p {
	clear: both;
}

em {
	font-weight: bold;
	padding-right: 1em;
	vertical-align: top;
}

label.error {
	float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
}

label.error {
	width: 100%
}

label {
	width: 100%;
}

input.error {
	background-color: tomato;
}


