@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');


.jumbotron {
    margin-bottom: 0;
    /* TODO find sleek image */
    background-image: url("images/titlebanner.png");
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

img {
    max-width: 100%;
    width: 100%;
}

nav {
    margin-top: 0;
    margin-bottom: 2em;
}

.poster {
    margin-bottom: 2em;
}

.tabbed {
    padding-left: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.box{
    box-model: border-box;
    border: 5px solid transparent;
    background-clip:padding-box;
}

.border_padding {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#review_padding{
    padding-left: 45px;
    padding-right: 45px;
}

.border_colour {
    background-color: rgb(232,232,238);
    border-radius: 10px;
}

.title_padding {
    padding-bottom: 25px;
}

#googlePlayButton {
    display: block;
    margin:auto;
    width:12%;
    padding-top: 75px;
    padding-bottom: 20px;
}

footer {
    display: block;
    padding: 1.5em 0;
    background: #302a2b;
    text-align: center;
    color: #acacac;
    font-family: "PT Sans Narrow", Helvetica, Arial, sans-serif;
    margin-top: 2em;
}

#googleMap {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

@media (max-width:575px) {
    .content {
        order: 99;
    }

    .contactForm {
        order: 99;
    }

    #googlePlayButton {
        width:30%;
        padding-top: 50px;
    }
}
