@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

body {
    width: 100%;
}

.title_text {
    font-size: 4em;
    padding-left: 25px;
    padding-top: 15px;
    font-family: 'Yellowtail',Helvetica, Arial, sans-serif;
    color: silver;
    text-shadow: 4px 4px #302a2b;
}

#title_bar {
    margin-bottom: 0;
    background: url("images/titlebanner.jpg") no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.mobilePoster {
    display: none;
}

a, a:hover {
    color: #e3133c;
}

a.us, a.us:hover {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
}

nav {
    margin-top: 0;
    margin-bottom: 2em;
}

.card {
    display: block;
}

.btn {
    background-color: #e3133c;
    border-color: #87142b;
}

.btn:hover {
    background-color: #ff133d;
}

#posterCarousel {
    padding-bottom: 2em;
}

.detailsButton {
    display: none;
}

.poster {
    margin-bottom: 2em;
}

.modal-poster {
    width: 50%;
}

.tabbed {
    padding-left: 20px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.box{
    box-model: border-box;
    border: 5px solid transparent;
    background-clip: padding-box;
}

.border_padding {
    padding: 10px 25px 10px 25px;
}

#titleCarousel {
    padding-bottom: 25px;
}

#review_padding {
    padding-left: 45px;
    padding-right: 45px;
}

.border_colour {
    background-color: rgb(232,232,238);
    border-radius: 10px;
}

.title_padding {
    padding-bottom: 25px;
}

#googlePlayButton {
    display: block;
    margin: auto;
    width: 12%;
    padding-top: 75px;
    padding-bottom: 20px;
}

footer {
    display: block;
    padding: 1.5em 0;
    background: #302a2b;
    text-align: center;
    color: #acacac;
    font-family: "PT Sans Narrow", Helvetica, Arial, sans-serif;
    margin-top: 20px;
}


/*//////////////////////////////////////////////////////*/
/*---------------   For Mobile Devices   ---------------*/
/*//////////////////////////////////////////////////////*/
@media (max-width:767px) {
    .content {
        order: 99;
    }

    #googlePlayButton {
        width: 30%;
        padding-top: 50px;
    }

    .detailsButton {
        display: block;
    }

    .md-show {
        visibility: hidden;
    }

    .modal-backdrop {
        display: none;
    }

    .title_text{
        font-size: 2em;
        text-shadow: 2px 2px #302a2b;
    }

    .nonMobilePoster {
        display: none;
    }

    .mobilePoster {
        display: block;
    }
}


/*//////////////////////////////////////////////////////*/
/*-------------   For Internet Explorer   --------------*/
/*//////////////////////////////////////////////////////*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .modal-poster {
        max-width: 70%;
        width: 70%;
        height: 100%;
    }

    #title_bar {
        height: 100%;
    }

    .banner {
        height: 100vh;
        display: flex;
    }
}
